<%#
=====================================================================================================
_data/_head
=====================================================================================================
%>
<head>
	<% if( data.common.gtag ){ %>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=<%- data.common.gtag %>"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', '<%- data.common.gtag %>');
		</script>
	<% } %>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title>
		<% if(parent.length){ %>
			<%- title %>
			|
			<% parent.reverse().forEach(function(value, key) { %>
				<% if (parent.length - 1 != key) {%>
					<% if (page[value] && value != 'index') { %>
						<%- page[value].title %>
						|
					<% } %>
				<% } %>
			<% }) %>
			<% parent.reverse(); %>
		<% } %>
		<%- data.schema.WebSite.name %>
	</title>
	<% if( description ){ %>
		<meta name="description" content="<%- description %>">
	<% } else { %>
		<meta name="description" content="<%- data.schema.description %>">
	<% } %>
	<% if(dev){ %>
		<link rel="stylesheet" href="<%- path.css %>vendor.css">
		<link rel="stylesheet" href="<%- path.css %>foundation.css">
		<link rel="stylesheet" href="<%- path.css %>component.css">
		<link rel="stylesheet" href="<%- path.css %>layout.css">
		<link rel="stylesheet" href="<%- path.css %>module.css">
		<link rel="stylesheet" href="<%- path.css %>scope.css">
		<link rel="stylesheet" href="<%- path.css %>utility.css">
	<% } else { %>
		<link rel="stylesheet" href="<%- path.css %>app.css">
		<link rel="stylesheet" href="<%- path.css %>utility.css">
	<% } %>
</head>
