<%#
=====================================================================================================
article/index
=====================================================================================================
%>
<%- include(ejspath + '_layout/' + layout, {modifier: 'before'}) %>
<%# ---------------------------------------------------------------------------------------------- %>
<%
var articleList = [];
Object.keys(page).forEach(function(value, key) {
	if (!value.indexOf('article/') && !~value.indexOf('index')) {
		articleList.push(value);
	}
});
%>
<%# ---------------------------------------------------------------------------------------------- %>
<!-- article-list -->
<div class="article-list">
	<ul class="article-list__items">
		<% Object.keys(articleList).forEach(function(value, key){ %>
		<% var tarPage = articleList[value]; %>
		<% if (page[tarPage].public) { %>
		<li class="article-list__item">
			<a class="article-list__link" href="<%- page[tarPage].url %>">
				<span class="time">
					<%- page[tarPage].timePublished %></span>
				<span class="title">
					<%- page[tarPage].title %></span>
			</a>
		</li>
		<% } %>
		<% }); %>
	</ul>
</div>
<!-- /article-list -->
<%# ---------------------------------------------------------------------------------------------- %>
<%- include(ejspath + '_layout/' + layout, {modifier: 'after'}) %>