<%#
=====================================================================================================
article/index
=====================================================================================================
%>
<%- include(ejspath + '_layout/' + layout, {modifier: 'before'}) %>
<%# ---------------------------------------------------------------------------------------------- %>
<h2 data-heading='2'>時間</h2>
<p>
</p>
<!-- article-list -->
<div class="article-list">
	<ul class="article-list__items">
		<% Object.keys(article.article).forEach(function(value, key){ %>
		<% var tarPage = article.article[key]; %>
		<% if (tarPage.public) { %>
		<li class="article-list__item">
			<a class="article-list__link" href="<%- tarPage.url %>">
				<span class="time">
					<%- tarPage.timePublished %></span>
				<span class="title">
					<%- tarPage.title %></span>
			</a>
		</li>
		<% } %>
		<% }); %>
	</ul>
</div>
<!-- /article-list -->
<%# ---------------------------------------------------------------------------------------------- %>
<%- include(ejspath + '_layout/' + layout, {modifier: 'after'}) %>