<%#
=====================================================================================================
article/index
=====================================================================================================
%>
<%
	var date = new Date();
	date = date.toISOString();
%>
<%- include(ejspath + '_layout/' + layout, {modifier: 'before'}) %>
<%# ---------------------------------------------------------------------------------------------- %>
<!-- article-list -->
<div class="article-list">
	<ul class="article-list__items">
		<% Object.keys(article.article).forEach(function(index){ %>
		<% var tarPage = article.article[index]; %>
		<% if (tarPage.public && tarPage.schema.datePublished <= date && tarPage.schema.dateModified <= date) { %>
		<li class="article-list__item">
			<a class="article-list__link" href="<%- tarPage.url %>">
				<span class="time">
					<%- tarPage.timePublished %></span>
				<span class="title">
					<%- tarPage.title %></span>
			</a>
		</li>
		<% } %>
		<% }); %>
	</ul>
</div>
<!-- /article-list -->
<%# ---------------------------------------------------------------------------------------------- %>
<%- include(ejspath + '_layout/' + layout, {modifier: 'after'}) %>