<%#
=====================================================================================================
dev/sitemap
=====================================================================================================
%>
<%# ---------------------------------------------------------------------------------------------- %>
<%
	pageAllNum = 0;
	pageDoneNum = 0;
	pageUndoneNum = 0;
	pageStopNum = 0;
	pageNoneNum = 0;
	Object.keys(page).forEach(function(value, key){
		if (page[value].progress == 'dev') {
			pageAllNum++;
			if(page[value].progress == 'done') {
				pageDoneNum++;
			} else if(page[value].progress == 'stop') {
				pageStopNum++;
			} else if(page[value].progress == 'none') {
				pageNoneNum++;
			} else {
				pageUndoneNum++;
			}
		}
	});
	pageDoneRatio = Math.round(pageDoneNum/pageAllNum*100) + '%';
	pageUndoneRatio = Math.round(pageUndoneNum/pageAllNum*100) + '%';
	pageStopRatio = Math.round(pageStopNum/pageAllNum*100) + '%';
	pageNoneRatio = Math.round(pageNoneNum/pageAllNum*100) + '%';
%>
<%# ---------------------------------------------------------------------------------------------- %>
<%- include(ejspath + '_template/' + template, {modifier: 'before'}) %>
<%# ---------------------------------------------------------------------------------------------- %>
<!-- dev-progressbar -->
<div class="dev-progressbar">
	<div class="dev-progressbar__item" data-modifier="done" <% if( pageDoneNum == 0 ){ %> style="display: none;" <% } else { %> style="width: <%- pageDoneRatio %>;" <% } %>><%- pageDoneRatio %></div>
	<div class="dev-progressbar__item" data-modifier="undone" <% if( pageUndoneNum == 0 ){ %> style="display: none;" <% } else { %> style="width: <%- pageUndoneRatio %>;" <% } %>><%- pageUndoneRatio %></div>
	<div class="dev-progressbar__item" data-modifier="stop" <% if( pageStopNum == 0 ){ %> style="display: none;" <% } else { %> style="width: <%- pageStopRatio %>;" <% } %>><%- pageStopRatio %></div>
	<div class="dev-progressbar__item" data-modifier="none" <% if( pageNoneNum == 0 ){ %> style="display: none;" <% } else { %> style="width: <%- pageNoneRatio %>;" <% } %>><%- pageNoneRatio %></div>
</div>
<!-- /dev-progressbar -->
<!-- dev-sitemap -->
<div class="dev-sitemap" data-parent>
	<div class="row" data-margin="bottom-2">
		<div class="col-xs-2">
			<button data-button="small primary" data-active-trg="dev-sitemap-all add" data-is-active="true">
				<i class="fa fa-list" aria-hidden="true"></i>
				ALL[<%- pageAllNum %>]</button>
		</div>
		<div class="col-xs-2">
			<button data-button="small success" data-active-trg="dev-sitemap-done add">
				<i class="fa fa-check-square-o" aria-hidden="true"></i>
				Done[<%- pageDoneNum %>]</button>
		</div>
		<div class="col-xs-2">
			<button data-button="small danger" data-active-trg="dev-sitemap-undone add">
				<i class="fa fa-square-o" aria-hidden="true"></i>
				Undone[<%- pageUndoneNum %>]</button>
		</div>
		<div class="col-xs-2">
			<button data-button="small warning" data-active-trg="dev-sitemap-stop add">
				<i class="fa fa-ban" aria-hidden="true"></i>
				Stop[<%- pageStopNum %>]</button>
		</div>
		<div class="col-xs-2">
			<button data-button="small disabled" data-active-trg="dev-sitemap-none add">None[<%- pageNoneNum %>]</button>
		</div>
	</div>
	<ul class="dev-sitemap__items" data-modifier="all" data-active-tar="dev-sitemap-all" data-is-active="true">
		<% Object.keys(page).forEach(function(value, key){ %>
			<% if (page[value].progress != 'dev') { %>
				<li class="dev-sitemap__item" data-modifier="<%- page[value].progress %>">
					<a class="dev-sitemap__link" href="<%- page[value].url %>">
						<span class="dev-sitemap__url"><%- page[value].url %></span>
						<span class="dev-sitemap__title"><%- page[value].title %></span>
					</a>
				</li>
			<% } %>
		<% }) %>
	</ul>
	<ul class="dev-sitemap__items" data-modifier="done" data-active-tar="dev-sitemap-done">
		<% Object.keys(page).forEach(function(value, key){ %>
			<% if (page[value].progress == 'done') { %>
				<li class="dev-sitemap__item" data-modifier="<%- page[value].progress %>">
					<a class="dev-sitemap__link" href="<%- page[value].url %>">
						<span class="dev-sitemap__url"><%- page[value].url %></span>
						<span class="dev-sitemap__title"><%- page[value].title %></span>
					</a>
				</li>
			<% } %>
		<% }) %>
	</ul>
	<ul class="dev-sitemap__items" data-modifier="stop" data-active-tar="dev-sitemap-stop">
		<% Object.keys(page).forEach(function(value, key){ %>
			<% if (page[value].progress == 'stop') { %>
				<li class="dev-sitemap__item" data-modifier="<%- page[value].progress %>">
					<a class="dev-sitemap__link" href="<%- page[value].url %>">
						<span class="dev-sitemap__url"><%- page[value].url %></span>
						<span class="dev-sitemap__title"><%- page[value].title %></span>
					</a>
				</li>
			<% } %>
		<% }) %>
	</ul>
	<ul class="dev-sitemap__items" data-modifier="none" data-active-tar="dev-sitemap-none">
		<% Object.keys(page).forEach(function(value, key){ %>
			<% if (page[value].progress == 'none') { %>
				<li class="dev-sitemap__item" data-modifier="<%- page[value].progress %>">
					<a class="dev-sitemap__link" href="<%- page[value].url %>">
						<span class="dev-sitemap__url"><%- page[value].url %></span>
						<span class="dev-sitemap__title"><%- page[value].title %></span>
					</a>
				</li>
			<% } %>
		<% }) %>
	</ul>
	<ul class="dev-sitemap__items" data-modifier="undone" data-active-tar="dev-sitemap-undone">
		<% Object.keys(page).forEach(function(value, key){ %>
			<% if (!page[value].progress) { %>
				<li class="dev-sitemap__item" data-modifier="<%- page[value].progress %>">
					<a class="dev-sitemap__link" href="<%- page[value].url %>">
						<span class="dev-sitemap__url"><%- page[value].url %></span>
						<span class="dev-sitemap__title"><%- page[value].title %></span>
					</a>
				</li>
			<% } %>
		<% }) %>
	</ul>
</div>
<!-- /dev-sitemap -->
