<%#
=====================================================================================================
post/index
=====================================================================================================
%>
<%- include(ejspath + '_template/' + template, {modifier: 'before'}) %>
<%# ---------------------------------------------------------------------------------------------- %>
<h2><%- title %></h2>
<ul>
<% Object.keys(post).forEach(function(value, key){ %>
	<li><a href="<%- post[value].url %>"><%- post[value].title %></a></li>
<% }); %>
</ul>
<%# ---------------------------------------------------------------------------------------------- %>
<%- include(ejspath + '_template/' + template, {modifier: 'after'}) %>
