<%#
=====================================================================================================
layout/common/_after
=====================================================================================================
%>
<%
var ejspath = '../../';
%>
<%# ---------------------------------------------------------------------------------------------- %>
		<!-- JSON-LD -->
		<script type="application/ld+json">
			[
				<% if(parent.length){ %>
					{
						"@context": "http://schema.org/",
						"@type": "BreadcrumbList",
						"itemListElement": [
							<% parent.forEach(function(value, key) { %>
								{
									"@type": "ListItem",
									"position": <%- key + 1 %>,
									"item": {
									"@id": "<%- data.site.url %><%- page[value].absUrl %>",
									"name": "<%- page[value].title %>"
									}
								},
							<% }) %>
							{
								"@type": "ListItem",
								"position": <%- parent.length + 1 %>,
								"item": {
									"@id": "<%- data.site.url %><%- absUrl %>",
									"name": "<%- title %>"
								}
							}
						]
					},
				<% } %>
				{
					"@context": "http://schema.org/",
					"@type": "SiteNavigationElement",
					"name": [
						<% data.siteNav.forEach(function(value, key) { %>
							<% if (data.siteNav.length - 1 != key) { %>
								"<%- page[value].title %>",
							<% } else { %>
								"<%- page[value].title %>"
							<% } %>
						<% }) %>
					],
					"url": [
						<% data.siteNav.forEach(function(value, key) { %>
							<% if (data.siteNav.length - 1 != key) { %>
								"<%- data.site.url %><%- page[value].absUrl %>",
							<% } else { %>
								"<%- data.site.url %><%- page[value].absUrl %>"
							<% } %>
						<% }) %>
					]
				}
			]
		</script>
		<!-- /JSON-LD -->
		<% if(dev){ %>
			<%- include(ejspath + '_module/dev-link') %>
		<% } %>
		<!-- script -->
		<script src="<%- path.js %>bundle.js"></script>
		<!-- /script -->
	</body>
</html>
