<%#
=====================================================================================================
test_____dev/index
=====================================================================================================
%>
<%- include(ejspath + '_layout/' + layout, {modifier: 'before'}) %>
<%# ---------------------------------------------------------------------------------------------- %>
<ul>
	<li><a href="<%- page['dev/sitemap'].url %>"><%- page['dev/sitemap'].title %></a></li>
	<li><a href="<%- page['dev/ex-html-style'].url %>"><%- page['dev/ex-html-style'].title %></a></li>
	<li><a href="<%- page['dev/ex-form'].url %>"><%- page['dev/ex-form'].title %></a></li>
</ul>
<%# ---------------------------------------------------------------------------------------------- %>
<%- include(ejspath + '_layout/' + layout, {modifier: 'after'}) %>
