<%#
=====================================================================================================
dev/index
=====================================================================================================
%>
<%- include(ejspath + '_layout/' + layout, {modifier: 'before'}) %>
<%# ---------------------------------------------------------------------------------------------- %>
<% var item = function(file){ %>
	<li>
		<a href="<%- page['dev/' + file].url %>"><%- page['dev/' + file].title %></a>
	</li>
<% } %>
<%# ---------------------------------------------------------------------------------------------- %>
<h2>サイトマップ</h2>
<ul>
	<%- item('sitemap') %>
</ul>
<h2>汎用パーツ</h2>
<ul>
	<%- item('button') %>
	<%- item('notify') %>
	<%- item('maxlength') %>
	<%- item('hoverimg') %>
	<%- item('column') %>
	<%- item('modal') %>
	<%- item('active') %>
	<%- item('scroll-active') %>
</ul>
<ul>
	<%- item('text-color') %>
	<%- item('hide') %>
</ul>
<h2>テンプレート</h2>
<ul>
	<%- item('ex-html-style') %>
	<%- item('ex-form') %>
</ul>
<%# ---------------------------------------------------------------------------------------------- %>
<%- include(ejspath + '_layout/' + layout, {modifier: 'after'}) %>
