<%#
=====================================================================================================
dev/notify
=====================================================================================================
%>
<%- include(ejspath + '_layout/' + layout, {modifier: 'before'}) %>
<%# ---------------------------------------------------------------------------------------------- %>
<h2 data-dev-heading="level2">設定方法</h2>
<p>'data-notify="値"'を指定することで、通知ボックスのデザインを適応。'data-notify="inline"'を付与することで、テキストスタイルに変更。</p>
<h2 data-dev-heading="level3">'data-notiry="値"' [ボックススタイル]</h2>
<div data-notify="positive">
	<p>[data-notify="success"]
		<%- data.exsample.text %>
	</p>
</div>
<div data-notify="negative">
	<p>[data-notify="negative"]
		<%- data.exsample.text %>
	</p>
</div>
<div data-notify="info">
	<p>[data-notify="info"]
		<%- data.exsample.text %>
	</p>
</div>
<div data-notify="success">
	<p>[data-notify="success"]
		<%- data.exsample.text %>
	</p>
</div>
<div data-notify="warning">
	<p>[data-notify="warning"]
		<%- data.exsample.text %>
	</p>
</div>
<div data-notify="danger">
	<p>[data-notify="error"]
		<%- data.exsample.text %>
	</p>
</div>
<h2 data-dev-heading="level3">'data-notiry="値 inline"' [テキストスタイル]</h2>
<p><span data-notify="positive inline">[data-notify="primary inline"]</span></p>
<p><span data-notify="negative inline">[data-notify="info inline"]</span></p>
<p><span data-notify="info inline">[data-notify="secondary inline"]</span></p>
<p><span data-notify="success inline">[data-notify="positive inline"]</span></p>
<p><span data-notify="warning inline">[data-notify="success inline"]</span></p>
<p><span data-notify="danger inline">[data-notify="negative inline"]</span></p>
<%# ---------------------------------------------------------------------------------------------- %>
<%- include(ejspath + '_layout/' + layout, {modifier: 'after'}) %>