<%#
=====================================================================================================
dev/sitemap
=====================================================================================================
%>
<%
	pageAllNum = 0;
	pageDoneNum = 0;
	pageUndoneNum = 0;
	pageStopNum = 0;
	pageNoneNum = 0;
	Object.keys(page).forEach(function(value, key){
		if (value.indexOf('dev')) {
			pageAllNum++;
			if(page[value].progress == 'done') {
				pageDoneNum++;
			} else if(page[value].progress == 'stop') {
				pageStopNum++;
			} else if(page[value].progress == 'none') {
				pageNoneNum++;
			} else {
				pageUndoneNum++;
			}
		}
	});
	pageDoneRatio = Math.round(pageDoneNum/pageAllNum*100) + '%';
	pageUndoneRatio = Math.round(pageUndoneNum/pageAllNum*100) + '%';
	pageStopRatio = Math.round(pageStopNum/pageAllNum*100) + '%';
	pageNoneRatio = Math.round(pageNoneNum/pageAllNum*100) + '%';
%>
<%# ---------------------------------------------------------------------------------------------- %>
<%- include(ejspath + '_layout/' + layout, {modifier: 'before'}) %>
<%# ---------------------------------------------------------------------------------------------- %>
<!-- dev-progressbar -->
<div class="dev-progressbar">
	<div class="dev-progressbar__item" data-modifier="done" <% if( pageDoneNum == 0 ){ %> style="display: none;" <% } else { %> style="width: <%- pageDoneRatio %>;" <% } %>><%- pageDoneRatio %></div>
	<div class="dev-progressbar__item" data-modifier="stop" <% if( pageStopNum == 0 ){ %> style="display: none;" <% } else { %> style="width: <%- pageStopRatio %>;" <% } %>><%- pageStopRatio %></div>
	<div class="dev-progressbar__item" data-modifier="undone" <% if( pageUndoneNum == 0 ){ %> style="display: none;" <% } else { %> style="width: <%- pageUndoneRatio %>;" <% } %>><%- pageUndoneRatio %></div>
</div>
<!-- /dev-progressbar -->
<!-- dev-sitemap -->
<div class="dev-sitemap">
	<ul class="dev-sitemap__items">
		<% Object.keys(page).forEach(function(value, key){ %>
			<% if (value.indexOf('dev')) { %>
				<li class="dev-sitemap__item" data-modifier="<%- page[value].progress %>">
					<a class="dev-sitemap__link" href="<%- page[value].url %>">
						<span class="dev-sitemap__url"><%- page[value].url %></span>
						<span class="dev-sitemap__title"><%- page[value].title %></span>
					</a>
				</li>
			<% } %>
		<% }) %>
	</ul>
</div>
<!-- /dev-sitemap -->

<a class="to-index" href="<%- page['dev/index'].url %>">< 開発用ページ一覧に戻る</a>
<%# ---------------------------------------------------------------------------------------------- %>
<%- include(ejspath + '_layout/' + layout, {modifier: 'after'}) %>
