<%#
=====================================================================================================
layout/home
=====================================================================================================
%>
<%
var ejspath = '../';
%>
<%# ---------------------------------------------------------------------------------------------- %>
<%# before ======================================== %>
<% if( modifier == 'before' ){ %>
	<!DOCTYPE html>
	<html lang="ja">
		<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<title>
				<%- data.site.title %>
			</title>
			<meta name="description" content="<%- description %>">
			<% if( data.site.author ){ %>
				<meta name="author" content="<%- data.site.author %>"/>
			<% } %>
			<% if(dev){ %>
				<link rel="stylesheet" href="<%- path.css %>vendor.css">
				<link rel="stylesheet" href="<%- path.css %>foundation.css">
				<link rel="stylesheet" href="<%- path.css %>component.css">
				<link rel="stylesheet" href="<%- path.css %>project.css">
				<link rel="stylesheet" href="<%- path.css %>utility.css">
				<link rel="stylesheet" href="<%- path.css %>dev.css">
			<% } else { %>
				<link rel="stylesheet" href="<%- path.css %>app.css">
				<link rel="stylesheet" href="<%- path.css %>utility.css">
			<% } %>
		</head>
		<body data-modifier="<%- pageModifier %>">
			<%- include(ejspath + '_module/header') %>
			<%- include(ejspath + '_module/global-nav') %>
			<!-- contents -->
			<div class="contents">
				<div class="contents__inner">
					<!-- main-contents -->
					<main class="main-contents">
<% } %>
<%# after ======================================== %>
<% if( modifier == 'after' ){ %>
					</main>
					<!-- /main-contents -->
					<%- include(ejspath + '_module/sub-contents') %>
				</div>
			</div>
			<!-- /contents -->
			<%- include(ejspath + '_module/footer') %>
			<% if(dev){ %>
				<%- include(ejspath + '_module/dev-link') %>
			<% } %>
			<!-- script -->
			<script src="<%- path.js %>bundle.js"></script>
			<!-- /script -->
		</body>
	</html>
<% } %>
