<%#
=====================================================================================================
layout/home
=====================================================================================================
%>
<%
var ejspath = '../';
%>
<%# ---------------------------------------------------------------------------------------------- %>
<%# before ======================================== %>
<% if( modifier == 'before' ){ %>
	<!DOCTYPE html>
	<html lang="ja">
		<%- include(ejspath + '_data/_head') %>
		<body data-modifier="<%- pageModifier %>">
			<%- include(ejspath + '_module/header') %>
			<%- include(ejspath + '_module/global-nav') %>
			<!-- contents -->
			<div class="contents">
				<div class="contents__inner">
					<!-- main-contents -->
					<main class="main-contents">
						<div class="main-contents__inner">
<% } %>
<%# after ======================================== %>
<% if( modifier == 'after' ){ %>
						</div>
					</main>
					<!-- /main-contents -->
				</div>
			</div>
			<!-- /contents -->
			<%- include(ejspath + '_module/footer') %>
			<!-- JSON-LD -->
			<script type="application/ld+json">
				[
					<%- include(ejspath + '_data/json-ld/_WebSite') %>,
					<%- include(ejspath + '_data/json-ld/_SiteNavigationElement') %>
				]
			</script>
			<!-- /JSON-LD -->
			<% if(dev){ %>
				<%- include(ejspath + '_module/dev-link') %>
			<% } %>
			<!-- script -->
			<script src="<%- path.js %>bundle.js"></script>
			<!-- /script -->
		</body>
	</html>
<% } %>
