<%#
=====================================================================================================
layout/home
=====================================================================================================
%>
<%
var ejspath = '../';
%>
<%# ---------------------------------------------------------------------------------------------- %>
<%# before ======================================== %>
<% if( modifier == 'before' ){ %>
	<%- include(ejspath + '_layout/common/_before') %>
	<%- include(ejspath + '_module/header') %>
	<%- include(ejspath + '_module/global-nav') %>
	<!-- contents -->
	<div class="contents">
		<div class="contents__inner">
			<!-- main-contents -->
			<main class="main-contents">
				<div class="main-contents__inner">
<% } %>
<%# after ======================================== %>
<% if( modifier == 'after' ){ %>
				</div>
			</main>
			<!-- /main-contents -->
		</div>
	</div>
	<!-- /contents -->
	<%- include(ejspath + '_module/footer') %>
	<!-- JSON-LD -->
	<script type="application/ld+json">
		[
			{
				"@context": "http://schema.org/",
				"@type": "WebSite",
				"url": "<%- data.site.url %>",
				"name": "<%- data.site.title %>",
				"description": "<%- data.site.description %>"
			}
		]
	</script>
	<!-- /JSON-LD -->
	<%- include(ejspath + '_layout/common/_after') %>
<% } %>
