<%#
// =================================================================================================
// _dev-sitemap
// =================================================================================================
%>
<main>
	<h1>開発用サイトマップ</h1>
	<!-- dev-sitemap -->
	<div class="dev-sitemap" data-parent>
		<div data-box="inline gutter-1-2">
			<div>
				<button data-button="small primary" data-active-trg="dev-sitemap-all add" data-is-active="true">
					<i class="fa fa-tasks" aria-hidden="true"></i>
					ALL</button>
			</div>
			<div>
				<button data-button="small success" data-active-trg="dev-sitemap-done add">
					<i class="fa fa-check" aria-hidden="true"></i>
					Done</button>
			</div>
			<div>
				<button data-button="small warning" data-active-trg="dev-sitemap-stop add">
					<i class="fa fa-ban" aria-hidden="true"></i>
					Stop</button>
			</div>
			<div>
				<button data-button="small disabled" data-active-trg="dev-sitemap-none add">None</button>
			</div>
			<div>
				<button data-button="small info" data-active-trg="dev-sitemap-undone add">Undone</button>
			</div>
		</div>
		<ul class="dev-sitemap__items" data-modifier="all" data-active-tar="dev-sitemap-all" data-is-active="true">
			<% Object.keys(page).forEach(function(value, key){ %>
				<% if (value != '_dev-sitemap') { %>
					<li class="dev-sitemap__item" data-modifier="<%- page[value].progress %>">
						<a class="dev-sitemap__link" href="<%- page[value].url %>">
							<span class="dev-sitemap__url"><%- page[value].url %></span>
							<span class="dev-sitemap__title"><%- page[value].title %></span>
						</a>
					</li>
				<% } %>
			<% }) %>
		</ul>
		<ul class="dev-sitemap__items" data-modifier="done" data-active-tar="dev-sitemap-done">
			<% Object.keys(page).forEach(function(value, key){ %>
				<% if (value != '_dev-sitemap' && page[value].progress == 'done') { %>
					<li class="dev-sitemap__item" data-modifier="<%- page[value].progress %>">
						<a class="dev-sitemap__link" href="<%- page[value].url %>">
							<span class="dev-sitemap__url"><%- page[value].url %></span>
							<span class="dev-sitemap__title"><%- page[value].title %></span>
						</a>
					</li>
				<% } %>
			<% }) %>
		</ul>
		<ul class="dev-sitemap__items" data-modifier="stop" data-active-tar="dev-sitemap-stop">
			<% Object.keys(page).forEach(function(value, key){ %>
				<% if (value != '_dev-sitemap' && page[value].progress == 'stop') { %>
					<li class="dev-sitemap__item" data-modifier="<%- page[value].progress %>">
						<a class="dev-sitemap__link" href="<%- page[value].url %>">
							<span class="dev-sitemap__url"><%- page[value].url %></span>
							<span class="dev-sitemap__title"><%- page[value].title %></span>
						</a>
					</li>
				<% } %>
			<% }) %>
		</ul>
		<ul class="dev-sitemap__items" data-modifier="none" data-active-tar="dev-sitemap-none">
			<% Object.keys(page).forEach(function(value, key){ %>
				<% if (value != '_dev-sitemap' && page[value].progress == 'none') { %>
					<li class="dev-sitemap__item" data-modifier="<%- page[value].progress %>">
						<a class="dev-sitemap__link" href="<%- page[value].url %>">
							<span class="dev-sitemap__url"><%- page[value].url %></span>
							<span class="dev-sitemap__title"><%- page[value].title %></span>
						</a>
					</li>
				<% } %>
			<% }) %>
		</ul>
		<ul class="dev-sitemap__items" data-modifier="undone" data-active-tar="dev-sitemap-undone">
			<% Object.keys(page).forEach(function(value, key){ %>
				<% if (value != '_dev-sitemap' && !page[value].progress) { %>
					<li class="dev-sitemap__item" data-modifier="<%- page[value].progress %>">
						<a class="dev-sitemap__link" href="<%- page[value].url %>">
							<span class="dev-sitemap__url"><%- page[value].url %></span>
							<span class="dev-sitemap__title"><%- page[value].title %></span>
						</a>
					</li>
				<% } %>
			<% }) %>
		</ul>
	</div>
	<!-- /dev-sitemap -->
</main>
