<%#
// =================================================================================================
// _dev-sitemap
// =================================================================================================
%>
<main>
	<h1>開発用サイトマップ</h1>
	<%#
	// -----------------------------------------------
	// page-num function
	// -----------------------------------------------
	%>
<%
	pageAll = Object.keys(page).length -1;
	pageDone = 0;
	pageUndone = 0;
	pageStop = 0;
	pageNone = 0;
	Object.keys(page).forEach(function(value, key){
		if (value != '_dev-sitemap') {
			if(page[value].progress == 'done') {
				pageDone++;
			} else if(page[value].progress == 'stop') {
				pageStop++;
			} else if(page[value].progress == 'none') {
				pageNone++;
			} else {
				pageUndone++;
			}
		}
	});
	pageDoneRatio = Math.round(pageDone/pageAll*100) + '%';
	pageUndoneRatio = Math.round(pageUndone/pageAll*100) + '%';
	pageStopRatio = Math.round(pageStop/pageAll*100) + '%';
	pageNoneRatio = Math.round(pageNone/pageAll*100) + '%';
	%>
	<!-- dev-progressbar -->
	<div class="dev-progressbar">
		<div class="dev-progressbar__item" data-modifier="done" style="width: <%- pageDoneRatio %>;"><%- pageDoneRatio %></div>
		<div class="dev-progressbar__item" data-modifier="undone" style="width: <%- pageUndoneRatio %>;"><%- pageUndoneRatio %></div>
		<div class="dev-progressbar__item" data-modifier="stop" style="width: <%- pageStopRatio %>;"><%- pageStopRatio %></div>
		<div class="dev-progressbar__item" data-modifier="none" style="width: <%- pageNoneRatio %>;"><%- pageNoneRatio %></div>
	</div>
	<!-- /dev-progressbar -->
	<!-- dev-sitemap -->
	<div class="dev-sitemap" data-parent>
		<div data-box="inline gutter-1-2">
			<div>
				<button data-button="small primary" data-active-trg="dev-sitemap-all add" data-is-active="true">
					<i class="fa fa-list" aria-hidden="true"></i>
					ALL[<%- pageAll %>]</button>
			</div>
			<div>
				<button data-button="small success" data-active-trg="dev-sitemap-done add">
					<i class="fa fa-check-square-o" aria-hidden="true"></i>
					Done[<%- pageDone %>]</button>
			</div>
			<div>
				<button data-button="small danger" data-active-trg="dev-sitemap-undone add">
					<i class="fa fa-square-o" aria-hidden="true"></i>
					Undone[<%- pageUndone %>]</button>
			</div>
			<div>
				<button data-button="small warning" data-active-trg="dev-sitemap-stop add">
					<i class="fa fa-ban" aria-hidden="true"></i>
					Stop[<%- pageStop %>]</button>
			</div>
			<div>
				<button data-button="small disabled" data-active-trg="dev-sitemap-none add">None[<%- pageNone %>]</button>
			</div>
		</div>
		<ul class="dev-sitemap__items" data-modifier="all" data-active-tar="dev-sitemap-all" data-is-active="true">
			<% Object.keys(page).forEach(function(value, key){ %>
				<% if (value != '_dev-sitemap') { %>
					<li class="dev-sitemap__item" data-modifier="<%- page[value].progress %>">
						<a class="dev-sitemap__link" href="<%- page[value].url %>">
							<span class="dev-sitemap__url"><%- page[value].url %></span>
							<span class="dev-sitemap__title"><%- page[value].title %></span>
						</a>
					</li>
				<% } %>
			<% }) %>
		</ul>
		<ul class="dev-sitemap__items" data-modifier="done" data-active-tar="dev-sitemap-done">
			<% Object.keys(page).forEach(function(value, key){ %>
				<% if (value != '_dev-sitemap' && page[value].progress == 'done') { %>
					<li class="dev-sitemap__item" data-modifier="<%- page[value].progress %>">
						<a class="dev-sitemap__link" href="<%- page[value].url %>">
							<span class="dev-sitemap__url"><%- page[value].url %></span>
							<span class="dev-sitemap__title"><%- page[value].title %></span>
						</a>
					</li>
				<% } %>
			<% }) %>
		</ul>
		<ul class="dev-sitemap__items" data-modifier="stop" data-active-tar="dev-sitemap-stop">
			<% Object.keys(page).forEach(function(value, key){ %>
				<% if (value != '_dev-sitemap' && page[value].progress == 'stop') { %>
					<li class="dev-sitemap__item" data-modifier="<%- page[value].progress %>">
						<a class="dev-sitemap__link" href="<%- page[value].url %>">
							<span class="dev-sitemap__url"><%- page[value].url %></span>
							<span class="dev-sitemap__title"><%- page[value].title %></span>
						</a>
					</li>
				<% } %>
			<% }) %>
		</ul>
		<ul class="dev-sitemap__items" data-modifier="none" data-active-tar="dev-sitemap-none">
			<% Object.keys(page).forEach(function(value, key){ %>
				<% if (value != '_dev-sitemap' && page[value].progress == 'none') { %>
					<li class="dev-sitemap__item" data-modifier="<%- page[value].progress %>">
						<a class="dev-sitemap__link" href="<%- page[value].url %>">
							<span class="dev-sitemap__url"><%- page[value].url %></span>
							<span class="dev-sitemap__title"><%- page[value].title %></span>
						</a>
					</li>
				<% } %>
			<% }) %>
		</ul>
		<ul class="dev-sitemap__items" data-modifier="undone" data-active-tar="dev-sitemap-undone">
			<% Object.keys(page).forEach(function(value, key){ %>
				<% if (value != '_dev-sitemap' && !page[value].progress) { %>
					<li class="dev-sitemap__item" data-modifier="<%- page[value].progress %>">
						<a class="dev-sitemap__link" href="<%- page[value].url %>">
							<span class="dev-sitemap__url"><%- page[value].url %></span>
							<span class="dev-sitemap__title"><%- page[value].title %></span>
						</a>
					</li>
				<% } %>
			<% }) %>
		</ul>
	</div>
	<!-- /dev-sitemap -->
</main>
