<%#
// =================================================================================================
// home
// =================================================================================================
%>
<%- include(ejspath + '_template/before') %>
<%# --------------------------------------------------------------------------------------------- %>
<h2><%- title %></h2>
<ul>
	<% Object.keys(page).forEach(function(value, key){ %>
		<li>
			<a href="<%- page[value].url %>">
				<%- page[value].title %>
			</a>
		</li>
	<% }) %>
</ul>
<ul>
	<% Object.keys(post).forEach(function(value, key){ %>
		<li>
			<a href="<%- post[value].url %>">
				<%- post[value].title %>
			</a>
		</li>
	<% }) %>
</ul>
<%# --------------------------------------------------------------------------------------------- %>
<%- include(ejspath + '_template/after') %>
